# Logs
logs
*.log
npm-debug.log*
!__tests__/
!__tests__/data/
!__tests__/data/logs/
!__tests__/data/logs/parse/
!__tests__/data/logs/parse/*.log

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
built/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Package file
l-v-yonsama-multi-platform-database-drivers-*.tgz

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
src/examples/
test.sh
.env
docker/data

sqlite.db
sqlite.db-shm
sqlite.db-wal
